:root {
    --primaryColor : #dc97ff;
    --boxShadow : #8b2fc9;
}
@media screen and (min-width: 768px) {
    :root{
        --primaryColor : #310055;
        --boxShadow : #5a108f;
    }
    
}

#nav_layout{
    height: 90px;
}
a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
    font-weight: bold;
} 
a:active { 
    text-decoration: none; 
}

#container{
    color: white;
    background-color: #6818a5;
    height: 70px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    
}
.list_container{
    width : 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

hr {
    
    border: none;
    border-top: 3px double black;
    color: black;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 1000px;
}

hr::after {
    background: #fff;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -13px; 
}
.list{
    width: 30px;
    height: 30px;
}

.sect1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110vh;
}
.card1{

    width: 230px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sub1{
    height: 60%;
    width: 100%;
    background-color: #6818a5;
    border-radius: 15px 15px 0 0;
}
.sub2{
    height: 40%;
    width: 100%;
}
.subcard2{
    /* background-color: #6818a5; */
    font-weight: bold;
    /* text-align: center; */
    color: #6818a5;
    padding-left: 10px;
    padding-top: 10px;

}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1230px;
}
.subicon{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.cardpart1{
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-top: 8px; */

}   
.cardpart2{
    font-weight: bold;
    padding-left: 8px;
}
img {
    max-height: 100%;
    justify-self: center;
}