body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    
}
#exampleInputEmail1, #exampleInputPassword1{
    width: 100%;
}
/* #pict{
    border: 1px solid black;
    width: 15%;
    margin-right: 50px;
} */
.form_card2 {
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}